html {
  font-size: 62.5%; }

:root {
  --color-gray-light-1: #ddd;
  --color-gray-light-2: #aaa;
  --color-gray-dark-1: #777;
  --color-gray-dark-2: #444;
  --color-black: #000;
  --color-white: #fff;
  --color-primary: #fa4f9f;
  --color-primary-light: #ff83bd;
  --color-primary-dark: #ff1381; }

.btn {
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  padding: 1rem 2rem;
  border-radius: .5rem;
  background-color: var(--color-gray-dark-1);
  transition: all .2s;
  color: var(--color-white); }
  .btn:hover, .btn:focus {
    outline: none;
    background-color: var(--color-gray-light-2); }
  .btn:active {
    transform: scale(1.05); }

.icon {
  width: 3rem;
  height: 3rem;
  fill: var(--color-white);
  display: inline-block; }

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: var(--color-black);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 10vw 15vh 1fr auto;
  justify-content: stretch;
  justify-items: center;
  row-gap: 1.25rem;
  color: var(--color-white);
  font-family: 'Ubuntu', sans-serif;
  position: relative; }

.header {
  background-color: orangered;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center; }

.info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem; }

.content {
  display: grid;
  grid-template-rows: 1fr minmax(max-content, 20rem);
  row-gap: 2rem;
  width: 100%;
  margin: 0;
  padding: 1rem .5rem;
  align-items: end;
  justify-items: center; }
  .content__board {
    display: grid;
    grid-template-columns: repeat(9, 10vw);
    grid-template-rows: repeat(9, 10vw);
    row-gap: .25rem;
    column-gap: .25rem;
    background-color: var(--color-gray-dark-1);
    border-radius: 1rem;
    z-index: 15; }
  .content__cell {
    border: none;
    cursor: pointer;
    font-size: inherit;
    font-style: inherit;
    color: inherit;
    width: 100%;
    height: 100%;
    background-color: var(--color-gray-dark-2);
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    line-height: 1px;
    box-sizing: border-box;
    z-index: 20; }
    .content__cell:focus, .content__cell:active {
      outline: red .25rem solid; }
      .content__cell:focus::before, .content__cell:focus::after, .content__cell:active::before, .content__cell:active::after {
        content: none !important; }
    .content__cell--added {
      color: var(--color-primary-dark); }
    .content__cell:nth-child(3n)::before {
      z-index: 10;
      position: absolute;
      display: block;
      width: .25rem;
      height: calc(100% + 0.25rem);
      top: 0;
      right: -0.25rem;
      content: "";
      background-color: var(--color-gray-light-2);
      transform: translateY(0.25rem); }
    .content__cell:nth-child(n + 70):nth-child(-n + 81):before {
      transform: translateY(-0.25rem); }
    .content__cell:nth-child(9n)::before {
      z-index: 10;
      content: none; }
    .content__cell:nth-child(9n)::after {
      transform: translateX(-0.25rem); }
    .content__cell:nth-child(n + 19):nth-child(-n+27)::after, .content__cell:nth-child(n + 46):nth-child(-n+54)::after {
      z-index: 10;
      position: absolute;
      display: block;
      width: calc(100% + .25rem);
      height: .25rem;
      bottom: -.25rem;
      left: 0;
      content: "";
      background-color: var(--color-gray-light-2); }
  .content__controls {
    align-self: start;
    background-color: red;
    display: grid;
    grid-template-rows: repeat(2, minmax(max-content, 18vw));
    grid-template-columns: repeat(5, minmax(max-content, 18vw));
    row-gap: .25rem;
    column-gap: .25rem;
    list-style: none;
    padding-left: 0;
    border-radius: .75rem;
    overflow: hidden;
    color: var(--color-gray-light-2);
    background-color: var(--color-gray-light-2);
    border: none; }
  .content__option {
    background-color: var(--color-gray-dark-2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem; }
    .content__option button {
      background-color: transparent;
      font: inherit;
      font-size: inherit;
      border: none;
      color: inherit;
      height: 100%;
      width: 100%;
      cursor: pointer; }
    .content__option button:active,
    .content__option button:focus {
      background-color: var(--color-gray-dark-1); }

.game-menu {
  position: absolute;
  bottom: 6rem;
  background-color: var(--color-gray-dark-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  transition: all .5s;
  transform-origin: bottom center;
  width: 50vw; }
  .game-menu__new-game-title {
    display: block;
    background-color: rebeccapurple;
    width: 100%;
    text-align: center;
    margin-bottom: 2px;
    padding: .5rem 0; }
  .game-menu__options {
    list-style: none;
    padding: 0;
    width: 100%;
    display: grid;
    row-gap: 2px; }
  .game-menu__item-link {
    transition: all .5s;
    padding: 1rem 1.8rem;
    background-color: rebeccapurple;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    text-align: inherit;
    border: none;
    width: 100%;
    margin: 0;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center; }
  .game-menu__item-link:hover, .game-menu__item-link:focus {
    outline: none;
    background-color: orangered; }
  .game-menu__option-icon {
    width: 1.5rem;
    height: 1.5rem; }
  .game-menu--visible {
    transform: scaleY(1);
    opacity: 1; }
  .game-menu--invisible {
    transform: scaleY(0);
    opacity: 0; }

.footer {
  padding: .5rem 2rem;
  padding-bottom: 1.5rem;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: max-content minmax(max-content, 30rem) max-content;
  justify-content: center;
  column-gap: 2rem;
  width: 100%; }
