*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-black);
  width: 100vw;
  height: 100vh;
  //overflow: hidden;

  display: grid;
  // grid-template-rows: 10vw 15vh 1fr auto;
  grid-template-rows: 1fr 1fr 16fr 2fr;
  justify-content: stretch;
  justify-items: center;
  row-gap: 1.25rem;
  color: var(--color-white);
  font-family: 'Ubuntu', sans-serif;
  position: relative;

  //
  @media screen and (orientation: landscape) and (max-height: 40rem) {
    row-gap: 0;
    grid-template-columns: repeat(10, 2fr);
    grid-template-rows: 1fr 6fr;
    column-gap: 1.25rem;
  }
}

.header {
  background-color: var(--color-gray-dark-1);
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;

  @media screen and (orientation: landscape) and (max-height: 40rem) {
    grid-column: 1 / 6;
  }
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;

  @media screen and (orientation: landscape) and (max-height: 40rem) {
    grid-column: 6 / -1;
    // max-width: 10vw;
  }

  &__text {
    word-wrap: break-word;
    max-width: 100%;
  }
}

.content {
  overflow: hidden;
  display: grid;
  // grid-template-rows: 1fr minmax(max-content, 20rem);
  grid-template-rows: 5fr 2fr;
  row-gap: 2rem;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1rem 0.5rem;
  align-items: end;
  justify-items: center;
  background-color: var(--color-gray-light-2);

  @media screen and (orientation: landscape) and (min-width: 30rem) {
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 2fr;
    row-gap: 0;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  @media screen and (orientation: landscape) and (max-height: 40rem) {
    grid-column: 1 / 9;
  }

  &__board {
    width: 95vw;
    height: 95vw;

    max-width: min(40rem, 55vh);
    max-height: min(40rem, 55vh);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    row-gap: 0.25rem;
    column-gap: 0.25rem;
    // overflow: hidden;
    background-color: var(--color-gray-dark-1);
    border-radius: 1rem;
    z-index: 15;

    @media screen and (orientation: landscape) and (min-width: 30rem) {
      max-width: min(40rem, 75vh);
      max-height: min(40rem, 75vh);
    }
  }

  &__cell {
    // rid of button formatting

    // Initial values are differentiated
    color: var(--color-primary-dark);

    border: none;
    cursor: pointer;
    font-size: inherit;
    font-style: inherit;

    width: 100%;
    height: 100%;
    background-color: var(--color-gray-dark-2);

    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    line-height: 1px;
    box-sizing: borTest seder-box;
    z-index: 20;

    &:focus,
    &:active {
      outline: var(--color-cell-highlight) 0.25rem solid;

      &::before,
      &::after {
        content: none !important;
      }
    }

    // For user-added numbers
    &--added {
      color: inherit;
    }

    &:nth-child(3n)::before {
      z-index: 10;
      position: absolute;
      display: block;
      width: 0.25rem;
      height: calc(100% + 0.25rem);
      top: 0;
      right: -0.25rem;
      content: '';
      background-color: var(--color-gray-light-2);
      // transform: scaleY(1.20);
      transform: translateY(0.25rem);
    }

    &:nth-child(n + 70):nth-child(-n + 81):before {
      transform: translateY(-0.25rem);
    }

    &:nth-child(9n)::before {
      z-index: 10;
      content: none;
    }

    &:nth-child(9n)::after {
      transform: translateX(-0.25rem);
    }

    &:nth-child(n + 19):nth-child(-n + 27)::after,
    &:nth-child(n + 46):nth-child(-n + 54)::after {
      z-index: 10;
      position: absolute;
      display: block;
      width: calc(100% + 0.25rem);
      height: 0.25rem;
      bottom: -0.25rem;
      left: 0;
      content: '';
      background-color: var(--color-gray-light-2);
    }
  }

  &__controls {
    width: 100%;
    max-width: 41rem;
    height: 100%;
    max-height: 41rem;
    align-self: start;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    row-gap: 0.25rem;
    column-gap: 0.25rem;

    list-style: none;
    padding-left: 0;
    border-radius: 0.75rem;
    overflow: hidden;

    color: var(--color-gray-light-2);
    background-color: var(--color-gray-light-2);
    border: none;

    @media screen and (orientation: landscape) and (min-width: 30rem) {
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: repeat(2, 1fr);
      max-width: 18rem;
      align-self: center;
    }
  }

  &__option {
    background-color: var(--color-gray-dark-2);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;

    button {
      background-color: transparent;
      font: inherit;
      font-size: inherit;
      border: none;
      color: inherit;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }

    button:active,
    button:focus {
      background-color: var(--color-gray-dark-1);
    }
  }
}

.footer {
  overflow: hidden;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  display: grid;

  grid-template-columns: auto auto minmax(max-content, 20rem) auto;
  grid-template-rows: 1fr; //minmax(max-content, 4rem);
  justify-content: center;
  align-items: stretch;
  column-gap: 1rem;
  height: 100%;
  width: 100%;

  @media screen and (orientation: landscape) and (max-height: 40rem) {
    grid-column: 9 / 11;
    grid-template-rows: auto auto minmax(max-content, 10rem) auto;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 1rem;
    align-items: stretch;
  }

  // Get the right icon instead once you have energy
  &__icon-forward {
    transform: rotateY(180deg);
  }

  .btn {
    // same as modals, so one above the invisible 'background'
    z-index: 100;
  }
}
