.btn {
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--color-bg-button);
  transition: all 0.2s;
  color: var(--color-btn);

  &:hover,
  &:focus {
    outline: none;
    background-color: var(--color-btn);
    color: var(--color-bg-button);

    .icon {
      fill: var(--color-bg-button);
    }
  }

  &:active {
    transform: scale(1.05);
  }
}

.icon {
  width: 3rem;
  height: 3rem;
  fill: var(--color-btn);
  display: inline-block;
}


.invisible {
  display: none !important;
}

.visible {
  display: block !important;
}