:root {
  --color-primary: #689c31;
  --color-secondary: #30bcc9;

  --color-text: #1d1d1d;
  --color-bg-cell: #ffffff;
  --color-highlight-cell: #000;
  --color-bg-game-area: #b5d593;
  --color-bg-other-section: #b5d593;
  --color-square-division: #222;

  --color-bg-menu-link: var(--color-primary);


  --color-menu-link: #fff;

  --color-box-shadow: rgba(0, 0, 0, 0.35);
  --color-bg-checkbox: #ddd;
  --color-bg-header: var(--color-primary);

  --color-bg-button: var(--color-primary);
  --color-bg-button-2: #fff;
  --color-btn: #fff;

  --color-highlight-error: rgba(227, 0, 0, 0.628);
}

:root.dark-theme {
  --color-primary: #30bcc9;
  --color-secondary: #a9ff4e;

  --color-text: #fff;
  --color-bg-cell: #444;
  --color-highlight-cell: #fff;
  --color-bg-game-area: #000000;
  --color-bg-other-section: #000000;

  --color-box-shadow: rgba(0, 0, 0, 0.35);
  --color-bg-checkbox: #ddd;
  --color-bg-header: var(--color-primary);

  --color-bg-button: #888;
  --color-bg-button-2: #fff;
  --color-btn: #fff;

  --color-menu-link: #fff;
  --color-bg-menu-link: #525252;



  --color-highlight-error: rgba(165, 0, 0, 0.628);
  --color-square-division: #222;

}

:root.experimental {
  --color-primary: #30bcc9;
  --color-secondary: #a9ff4e;

  --color-text: #fff;
  --color-bg-cell: #444;
  --color-highlight-cell: #fff;
  --color-bg-game-area: #777;
  --color-bg-other-section: #000;

  --color-box-shadow: rgba(0, 0, 0, 0.35);
  --color-bg-checkbox: #ddd;
  --color-bg-header: #444;

  --color-bg-button: #888;
  --color-bg-button-2: #fff

  --color-highlight-error: rgba(165, 0, 0, 0.628);

}

$breakpoint-sm: 60em;
$breakpoint-md: 90em;
$breakpoint-bg: 120em;
