:root {
  --color-gray-light-1: #ddd;
  --color-gray-light-2: #aaa;
  --color-gray-dark-1: #777;
  --color-gray-dark-2: #444;

  --color-black: #000;
  --color-white: #fff;

  --color-primary: #fa4f9f;
  --color-primary-light: #ff83bd;
  --color-primary-dark: #ff1381;

  --color-secondary: rgb(157, 0, 168);
  --color-secondary-light: rgb(228, 0, 244);
  --color-secondary-dark: rgb(114, 0, 123);

  --color-cell-highlight: #f8f8f8;
  --color-warning: rgb(255, 196, 0);
}

$breakpoint-sm: 60em;
$breakpoint-md: 90em;
$breakpoint-bg: 120em;
